*{
  margin: 0;
  box-sizing: border-box;
  color: aliceblue;
}
body{
  font-family: 'Times New Roman', Times, serif;
}
#weather-widget{
  margin: 15% auto;
  height: 250px;
  width: 80%;
  justify-content: center;
  align-items: center;
  background:linear-gradient( 35deg, rgb(20, 58, 11), rgb(38, 123, 16), rgb(58, 228, 24));
  border-radius: 12px;
  box-shadow: 0 1px 1px 5px rgb(38, 136, 16);
  border: 1px solid rgb(38, 123, 16);
}
#city-name{
  font-size: 55px;
  margin: 5%;
  margin-left: 10%;

}
#temperature{
  font-size: 65px;
  margin-left: 85%;
  margin-top: -10%;
}

#description{
   margin: auto;
   margin-left: 10%;
   margin-top: 2%;
   font-size: 25px;
   width: 90%;
}

#weather-icon{
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: 40% ;
  margin-top: -8%;
  
}
@media(max-width:600px) {
  #temperature {
    font-size: 45px;
    margin-left: 63%;
    margin-top: -24%;
    }
  #weather-icon {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 5% 0 0 10%;

  }
  #description {
    margin: auto;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 25px;
    margin-top: 12%;
  }
}